:root {
  --color-base: 200;
}

body{
  margin:0;
    background-image: url("https://cdn.glitch.global/946844e2-131a-4885-8665-f2f48aa60f68/background-1-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    scroll-padding: 2rem;

  font-family: 'Libre Baskerville', serif;
}
h1 {
  margin:0.3em;
  font-size: 4rem;
  text-align: center;
  grid-area: "head";
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(66deg, 100%, 80%,0.2);
}

.button-group {
  display: flex;
  flex-basis: 20%;
  text-align: center;
  flex-direction: row;
}
h2 {
  background-color: hsla(200, 50%, 99%, 0.6);
  padding:2px 12px;
  border-radius:15px;
  text-align:center;
  margin-bottom:2px;
}
.data-header{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 3;
}
button {
  width: 10em;
  border: 2px hsl(var(--color-base), 50%, 70%) solid;
  background-color: hsla(200, 50%, 99%, 0.85);
  border-radius: 25px;
  margin: 0.25em;
  padding: 0.5em;
}
#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.time-data {
}
.date-data {
}
.time-container{
  background-color: hsla(66deg, 100%, 80%,0.2);
  padding-left:2em;
  padding-right:2em;
  border-radius:0 0 25px 25px;
}
.precip-container,
.label-container,
.time-container,
.allContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.precip-amount-container, .sun-container, .wind-container , .ozone-container{
  width: 100%;
   display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.label-container {
  margin: 0.25em 2em;
  flex: 1;
}
.full-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px hsl(var(--color-base), 50%, 70%) solid;
  background-color: hsla(200, 50%, 99%, 0.6);
  border-radius: 25px;
  margin: 1em;
  padding: 0.5em;
  min-width: 27vw;
}
.endLabel{
margin-top:auto;
}
.label {
  font-size: 0.8rem;
}
.date {
  font-size: 2.5rem;
}
.data {
  font-size: 1.5rem;
}
.dataTitle {
  font-size: 1.8rem;
}
.time-data {
  font-size: 1.5rem;
}
.date-data {
  font-size: 1.5rem;
}
.dataTemp {
  font-size: 3.2rem;
}
.test{
  height:100px;
}

.freezing {
  background-color: rgba(195, 228, 296, 0.6);
}
@media (max-width: 900px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .full-card {
    min-width: 37vw;
  }

  .data-header{
  
  grid-column: 1 / span 2;
}
}
@media (max-width: 500px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .full-card {
    min-width: 90vw;
  }

  .data-header{
  
  grid-column: 1 / span 1;
}
}
